<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gaiabot | Home </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">

        <!-- Header -->
          <h1 class="title is-2 has-text-success"> Olá!!! </h1>
          <p class="subtitle is-3 has-text-weight-light"> Qual a sua dúvida de hoje? </p>

          
        <!-- Suggestion List -->
        <ul class="suggestion-list">
            <li>
                <div class="card">
                    <div class="card-content">
                    <div class="content">
                        <p class="has-text-weight-light"> O que são energias renováveis e quais os tipos? </p>
                    </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="card-content">
                    <div class="content">
                        <p class="has-text-weight-light"> O que é a Agenda 2030 da ONU? </p>                      </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="card">
                    <div class="card-content">
                    <div class="content">
                        <p class="has-text-weight-light"> Dê para mim dicas para um dia a dia mais sustentável </p>                  </div>
                    </div>
                </div>
            </li>
        </ul>

        </div> <!-- End Container -->
      </section> <!-- End Section -->
</body>
</html>