<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gaiabot | Home </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                ???
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>
            <a class="navbar-item">
                Documentation
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                <a class="button is-primary">
                    <strong>Sign up</strong>
                </a>
                </div>
            </div> 
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <!-- Header -->
            <h1 class="title is-2 has-text-success"> Olá! </h1>
            <p class="subtitle is-3 has-text-weight-light"> Qual a sua dúvida hoje? </p>
            
            <div class="columns"> 
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="has-text-weight-light"> É iniciante sobre bioinformática e quer aprender mais? </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item"> Aceitar dica </a>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="has-text-weight-light"> Precisa de ajuda para entender algum artigo? </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item"> Aceitar dica </a>
                        </footer>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">
                                <p class="has-text-weight-light"> Quais as principais noticias do mercado de bionformática? </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item"> Aceitar dica </a>
                        </footer>
                    </div>
                </div>
            </div>

        </div> <!-- End Container -->
    </section> <!-- End Section -->
</body>
</html>